bcrypt==2.0.0
Cerberus==0.9.2
decorator==4.0.6
git+https://github.com/falconry/falcon
Unidecode==0.4.18
git+https://github.com/coleifer/peewee
progressbar2==3.6.0
psycopg2==2.6.1
git+https://github.com/yohanboniface/falcon-oauth
psycopg-postgis
