bcrypt==3.1.6
decorator==4.4.0
Flask==1.0.3
Flask-Cors==3.0.7
Flask-OAuthlib==0.9.5
requests-oauthlib==1.1.0
Peewee==3.9.5
progressist==0.1.0
psycopg-postgis==0.4.0
psycopg2==2.8.3
python-dateutil==2.8.0
pyyaml>=4.2b1
Unidecode==1.0.23
